.container-small-card {
  width: 800px;
  margin-bottom: 15px;
}
.container-small-card-content {
  display: flex;
  flex-direction: row;
}
.small-card-photo > img {
  width: 200px;
  height: 100px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card-title {
  display: flex;
  text-align: center;
  align-items: center;
}

.container-small-card-separator {
  margin-top: 25px;
}

@media (max-width: 800px) {
  .container-small-card {
    width: 100%;
  }
}

@media (max-width: 525px) {
  .small-card-title > a > h1 {
    font-size: 1.5rem;
  }
}

/* passar o texto do small card pra baixo */
@media (max-width: 440px) {
  .container-small-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-card-photo {
    margin-top: 30px;
  }

  .small-card-title > a {
    margin-top: 30px;
  }
}
