.container-articles {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 800px) {
  .container-articles,
  .articles-others {
    width: 100%;
  }
}

@media (max-width: 525px) {
  .container-articles {
    font-size: 1rem;
    width: 95%;
    margin: 0 auto;
  }
}
