.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container-menu-bar > ul > li {
  padding: 20px;
  list-style: none;
}

.container-menu-bar > ul > li > a {
  color: white;
  transition: color 0.3s, color 0.3s;
}

.container-menu-bar > ul > li > a:hover {
  color: rgb(163, 33, 33);
}
